<div class="pure-u-1-2 scroll">
  <div ng-repeat="conversation in lastestConversations"
       ng-class="['pure-g', 'conversation', conversation.unread ? 'unread' : '']" >
    <a ng-href="#/profiles/{{conversation.id}}">
      <img class="thumbnail" ng-src="http://cdns.grindr.com/images/thumb/187x187/{{conversation.thumbnail}}">
    </a>
    <div class="lastMessages" ng-click="open(conversation.id)">
      {{lastMessage = conversation.messages[conversation.messages.length - 1]; ""}}
      <p>{{lastMessage.text.slice(0, 100) || (lastMessage.image ? '***IMAGE***' : '***LOCATION')}}</p>
      </p>
    </div>
  </div>
</div>


<div ng-show="conversationId" class="pure-u-1-2 scroll">

  <div id="bubbles">
    <div ng-repeat-start="message in conversation.messages"
         class="{{message.fromMe ? 'from-me' : 'from-them'}}"
         title="{{message.timestamp ? (message.timestamp | date:'medium') : ''}}">
         <p ng-if="message.text">{{message.text}}</p>
      <a ng-if="message.location" target="_blank"
         ng-href="https://maps.google.com/?q=loc:{{message.location.lat}},{{message.location.lon}}">*LOCATION*</a> 
      <img class="pure-img" ng-if="message.image" ng-src=http://cdns.grindr.com/grindr/chat/{{message.image}}>
    </div>
    <div ng-repeat-end class="clear"></div>
  </div>

  <form class="pure-form" ng-hide="chatError || connectionError">
    <fieldset class="pure-group">
      <textarea ng-model="message" ng-keydown="onKeyDown($event)" ng-keyup="onKeyUp($event)"
                class="pure-input-1" rows="5" placeholder=""></textarea>
    </fieldset>

    <button ng-click="sendText()" type="submit" class="pure-button pure-input-1 pure-button-primary">Send</button>
    <button ng-click="showSentImages()" type="submit" class="pure-button pure-input-1 button-secondary">Send Image</button>
    <div ng-hide="sentImages">
      <button ng-click="sendLocation()" type="submit" class="pure-button pure-input-1">Send Location</button>
      <button ng-click="delete()" type="submit" class="pure-button pure-input-1 button-warning">Delete</button>
      <button ng-click="block()" type="submit" class="pure-button pure-input-1 button-error">Block</button>
    </div>
  </form>

  <div ng-show="sentImages" class="pure-g">
    <img ng-repeat="imageHash in sentImages"
         ng-src="http://cdns.grindr.com/grindr/chat/{{imageHash}}" ng-click='sendImage(imageHash)' class="pure-u-1-3 pure-img sent-image">
    <div class="pure-u-1-1 icons">
      <label ng-hide="uploading" for="upload-image">
        <i class="icon-plus icon2x"></i>
      </label>
      <img ng-show="uploading" src="img/spin.gif">
      <input type="file" accept="image/jpg,image/jpeg" file-model="imageFile" id="upload-image">
    </div>
  </div>
</div>
