<div class="pure-u-1-2 scroll">
  <!-- Filter form top bar -->
  <div class="pure-g">
    <form class="pure-form">
      <fieldset>
        In
        <input ng-model="$storage.location.name" class="pure-input-1-3 pure-input-rounded" id="location" type="text" placeholder="Location">
        <!--
        Between
        <input class="small-input" ng-model="$storage.grindrParams.filter.ageMinimum" ng-change="refresh()" min="18" max="99" size="2" type="number">
        And
        <input ng-model="$storage.grindrParams.filter.ageMaximum" ng-change="refresh()"
               class="small-input" min="18" max="99" size="2" type="number">
      </fieldset>
      <fieldset>
        Online
        <input type="checkbox" ng-model="$storage.grindrParams.filter.onlineOnly" ng-change="refresh()">
        Photo only
        <input type="checkbox" ng-model="$storage.grindrParams.filter.photoOnly" ng-change="refresh()">
        View as
        <select ng-model='view' ng-change=refresh()>
          <option value="thumbnails">Thumbnails</option>
          <option value="map" selected>Map</option>
        </select>
      </fieldset>
      <fieldset id="managed-fields" ng-if="managedFields">
        <select ng-model='$storage.filter.lookingFor' ng-options="option.fieldId as option.name for option in managedFields.lookingFor" ng-change="changeFilter('lookingFor')">
          <option value="">Looking For Any</option>
        </select>
        <select ng-model='$storage.filter.grindrTribe' ng-options="option.fieldId as option.name for option in managedFields.grindrTribes" ng-change="changeFilter('grindrTribe')">
          <option value="">Any Grindr Tribe</option>
        </select>
        <select ng-model='$storage.filter.ethnicity' ng-options="option.fieldId as option.name for option in managedFields.ethnicity" ng-change="changeFilter('ethnicity')">
          <option value="">Any Ethnicity</option>
        </select>
        <select ng-model='$storage.filter.bodyType' ng-options="option.fieldId as option.name for option in managedFields.bodyType" ng-change="changeFilter('bodyType')">
          <option value="">Any Body Type</option>
        </select>
-->
      </fieldset>
    </form>
  </div>

  <div class="pure-g" >
    <!-- Thumbnail grid-->
    <a ng-if="view == 'thumbnails'" ng-repeat="profile in nearbyProfiles" style="position:relative;" class="pure-u-1-5" ng-click="open(profile.profileId)">
      <img class="pure-img thumbnail" non-draggable
           ng-src="http://cdns.grindr.com/images/thumb/320x320/{{profile.profileImageMediaHash}}"/>
		  <div class="caption textoverlay">{{profile.displayName}}</div>				
    </a>

    <!-- Map -->
    <ng-map ng-if="view == 'map'" center="[{{$storage.location.lat}},{{$storage.location.lon}}]" zoom="10" id='map'>
      <marker ng-repeat="(id, location) in locations"
              position="[{{location.lat}},{{location.lon}}]"
              id="{{id}}"
              on-click="markerClicked($event)">
      </marker>
    </ng-map>
  </div>
</div>


<div class="pure-u-1-2 scroll">
  <div id="profile" ng-show="profile" emoji>
    <img class="pure-img" id="profile-pic"
         high-res-src="http://cdns.grindr.com/images/profile/1024x1024/{{profile.profileImageMediaHash}}"
         ng-src="http://cdns.grindr.com/images/thumb/320x320/{{profile.profileImageMediaHash}}"/>
    <h2 id="displayName"}>{{profile.displayName}}</h2>
    <h3 id="headline">{{profile.headline}}</h3>

    <p>{{profile.aboutMe}}</p>

    <p class="icons" ng-show="profile.socialNetworks">
      <a ng-repeat="(name, info) in profile.socialNetworks" target="_blank" href="https://{{name}}.com/{{info.userId}}/">
        <i class="icon-{{name}}"></i>
      </a>
    </p>

    <p ng-show="profile.lookingFor && profile.lookingFor.indexOf(7) != -1" style="color: red">Looking for Right Now</p>

    <p>{{profile.seen | lastTimeActive}}</p>

    <table ng-show="profile.height || profile.weight || profile.age" class="pure-table">
      <thead>
        <tr>
          <th>Age</th>
          <th>Height</th>
          <th>Weight</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{profile.age}}</td>
          <td>{{profile.height | cmToLocalUnit}}</td>
          <td>{{profile.weight | gramToLocalUnit}}</td>
        </tr>
      </tbody>
    </table>

    <p ng-show="profile.distance">
      <b> {{profile.distance.toPrecision(3)}} km away</b>
      <i ng-show="isNearbyProfile(profile.profileId) && (!pinpointing)" class="fa fa-globe fa-2x" ng-click="pinpoint(profile.profileId)"></i>
      <img ng-show="pinpointing" src="img/spin.gif">
    </p>

    <p ng-show="authenticated" class="icons">
      <a non-draggable ng-href="#/chat/{{profile.profileId}}">
        <i class="fa fa-comments fa-4x"></i>
      </a>
      <a ng-click="block()">
        <i class="fa fa-ban fa-4x"></i>
      </a>
    </p>
  </div>
</div>
